<h1 class="text-primary fs-3 my-4 ps-3"> Angular Practice </h1>

<ul class="nav flex-column mt-5">
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center my-3" routerLink="poker" routerLinkActive="active" aria-current="page"> 
            <i class='bx bxs-credit-card fs-4 mx-3'></i><span class="nav-text fs-5 text-nowrap">Poker</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center my-3" routerLink="resident" routerLinkActive="active" aria-current="page"> 
            <i class='bx bxs-dice-5 fs-4 mx-3'></i><span class="nav-text fs-5 text-nowrap">21 Game</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center my-3" routerLink="shopping" routerLinkActive="active" aria-current="page"> 
            <i class='bx bxs-dice-5 fs-4 mx-3'></i><span class="nav-text fs-5 text-nowrap"> Shopping Cart Demo</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center my-3" routerLink="validation" routerLinkActive="active" aria-current="page"> 
            <i class='bx bxs-dice-5 fs-4 mx-3'></i><span class="nav-text fs-5">Form Validation</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center my-3" routerLink="prescription" routerLinkActive="active" aria-current="page"> 
            <i class='bx bxs-dice-5 fs-4 mx-3'></i><span class="nav-text fs-5">Prescription</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center my-3" routerLink="doctor" routerLinkActive="active" aria-current="page"> 
            <i class='bx bxs-dice-5 fs-4 mx-3'></i><span class="nav-text fs-5">My Patients</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center my-3" routerLink="progress" routerLinkActive="active" aria-current="page"> 
            <i class='bx bxs-dice-5 fs-4 mx-3'></i><span class="nav-text fs-5">Progress Bar</span></a>
    </li>
</ul>