<div class="container p-5">
    <!-- <form class="border border-primary p-5 rounded-3">
        <div class="row">
            <div class="form-floating col-6">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating col-6">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
        </div>
    </form> -->
    <div *ngFor="let m of userdata">
      <p> Name :- {{ m.name }} </p>
      <p> Age :- {{ m.age }} </p>
      <div *ngFor="let data of m.hobby">
        <p> {{ data.hobbyname }} </p>
      </div>
    </div>
</div>