<div class="patient-box bg-white rounded-3 shadow h-100">
    <div class="px-5 py-4 d-flex justify-content-between border border-bottom">
        <span class="text-primary fs-4"> Prescriptions </span>
        <button class="btn btn-primary py-1 px-3 fs-4"> + </button>
    </div>
    <div class="p-5">
        <div class="prescripton-diseases position-relative rounded-3 p-3 d-flex justify-content-between aligm-items-center" style="cursor: pointer;">
            <!-- <span class="text-primary fw-bold fs-5"><i class='bx bxs-right-arrow px-3' style="font-size: 0.8rem;"></i> Diarrhea, Fever </span>
            <span class="text-muted pt-2" style="font-size: 0.8rem;">13 April 2021</span>
            <div class="prescription-medicine border border-3 p-3 position-absolute w-100">
                <table class="w-100" style="font-size: 0.8rem;">
                    <tr style="color: #76969e;">
                        <th>Medicine Name</th>
                        <th>Doages</th>
                        <th>Timing</th>
                        <th>Days</th>
                    </tr>
                    <tr>
                        <td> Paracetamol </td>
                        <td> 1 </td>
                        <td> Mo,Af,Ni </td>
                        <td> 3 </td>
                    </tr>
                </table>
            </div> -->
            <span> {{_prescriptionData.name}} </span>
        </div>
    </div>
</div>