// All the SCSS Variables goes here

// Font 
$font-family: 'Poppins', sans-serif;

// Sidebar 
$sidebar-width:250px;

// form 
$form-floating-padding-x: 2rem;
$form-floating-line-height: 0.8;
$form-floating-height:add(1.5rem, 2.5rem);
$form-floating-label-transform:   scale(.85) translateY(-1.5rem) translateX(.15rem);
$form-floating-input-padding-t:   1.625rem;
$form-floating-input-padding-b:   .625rem;