<div class="container p-5">
    <button type="button" class="btn btn-primary" (click)="onChange()"> Click to Change </button>
    <div class="poker-card bg-white mx-auto p-3 shadow">
        <div class="text-danger flex-column d-flex">
            <span class="fs-5">{{ cardNumber }}</span>
            <i class="bx bxs-heart fs-5"></i>
        </div>
    </div>
    <button type="button" class="btn btn-success fs-4 rounded-3" (click)="onAdd()"> + </button>
    <div class="board mt-5">
        <div class="poker-card bg-white p-3 shadow" *ngFor=" let m of cardDeck">
            <div class="text-danger flex-column d-flex">
                <span class="fs-5">{{ m }}</span>
                <i class="bx bxs-heart fs-5"></i>
            </div>
        </div>
    </div>
</div>