.player {
    height: 350px;
}
.poker-card {
    height: 250px;
    width: 150px;
    border-radius: 5px;

    .hidden {
        filter: blur(5px);
    }

}

.option {
    margin-left: 500px;
}

.result{
    top: 50%;
    right: 300px;
}