<div class="container rounded-3 bg-white p-5">
    <h3 class="text-center fw-bolder"> Final Details Form </h3>
    <h4> Personal Details </h4>
    <div class="row g-4 mt-5">
        <div class="col-6">
            <span class="fw-bold"> First Name :</span>
            <span> {{ finalDetails[0].firstName }} </span>
        </div>
        <div class="col-6">
            <span class="fw-bold"> Last Name :</span>
            <span> {{ finalDetails[0].lastName }} </span>
        </div>
        <div class="col-6">
            <span class="fw-bold"> Mobile Number :</span>
            <span>+91 {{ finalDetails[1].mobileNumber }} </span>
        </div>
        <div class="col-6">
            <span class="fw-bold"> Age :</span>
            <span> {{ finalDetails[1].age }} </span>
        </div>
        <div class="col-6">
            <span class="fw-bold"> Email :</span>
            <span> {{ finalDetails[1].email }} </span>
        </div>
        <div class="col-12">
            <span class="fw-bold"> Address :</span>
            <span> {{ finalDetails[2].address }} </span>
        </div>
        <div class="col-6">
            <span class="fw-bold"> State :</span>
            <span> {{ finalDetails[2].state }} </span>
        </div>
        <div class="col-6">
            <span class="fw-bold"> City :</span>
            <span> {{ finalDetails[2].city }} </span>
        </div>
        <div class="col-12 py-3">
            <h4> Company Details </h4>
        </div>
        <div class="col-6">
            <span class="fw-bold"> Company Name :</span>
            <span> {{ finalDetails[3].companyName }} </span>
        </div>
        <div class="col-6">
            <span class="fw-bold"> Position :</span>
            <span> {{ finalDetails[3].position }} </span>
        </div>
        <div class="col-6">
            <span class="fw-bold"> Department :</span>
            <span> {{ finalDetails[3].department }} </span>
        </div>
        <div class="col-6">
            <span class="fw-bold"> Salary :</span>
            <span> {{ finalDetails[3].salary }} </span>
        </div>
        <div class="col-6">
            <span class="fw-bold"> Experience:</span>
            <span> {{ finalDetails[3].experience }} years</span>
        </div>
    </div>
</div>