<div class="container p-5 h-100 position-relative">
    <div class="player">
        <h3 class="text-primary"> Player 1 </h3>
        <div class="d-flex mt-3 position-relative">
            <div class="poker-card poker-player bg-white p-3 shadow position-absolute">
                <div class="text-danger flex-column d-flex">
                    <span class="fs-5" [ngClass]="hidden ? 'hidden' : ''">{{ default }}</span>
                </div>
            </div>
            <div class="position-relative ms-5" *ngFor="let m of player1">
                <div class="poker-card poker-player bg-white p-3 shadow position-absolute">
                    <div class="text-danger flex-column d-flex">
                        <span class="fs-5">{{ m }}</span>
                    </div>
                </div>
            </div>
            <div class="option d-flex flex-column position-absolute">
                <button class="btn btn-primary" (click)="onHit()" type="button"> Hit me </button>
                <button class="btn btn-danger mt-3" (click)="onPass()" type="button"> Pass </button>
            </div>
        </div>
    </div>  
    <div class="player">
        <h3 class="text-primary"> Player 2 </h3>
        <div class="d-flex mt-3">
            <div class="poker-card poker-player bg-white p-3 shadow position-absolute">
                <div class="text-danger flex-column d-flex">
                    <span class="fs-5" [ngClass]="hidden ? 'hidden' : ''">{{ default2 }}</span>
                </div>
            </div>
            <div class="position-relative ms-5" *ngFor="let m of player2">
                <div class="poker-card poker-player bg-white p-3 shadow position-absolute">
                    <div class="text-danger flex-column d-flex">
                        <span class="fs-5">{{ m }}</span>
                    </div>
                </div>
            </div>
            <div class="option d-flex flex-column position-absolute">
                <button class="btn btn-primary" (click)="onHit2()" type="button"> Hit me </button>
                <button class="btn btn-danger mt-3" (click)="onPass()" type="button"> Pass </button>
            </div>
        </div>
    </div>  
    <div class="result position-absolute">
        <p class="fs-4 text-primary fw-bold"> {{ result }} </p>
    </div>
</div>